[gcode_macro END_PRINT]
gcode:
    # Turn off heaters
    M140 S0
    M104 S0
    M106 S0                      # Turn off fan
    
    G91                          # Relative positioning
    G1 Z10 F3000                 # Raise nozzle 10mm
    G90                          # Absolute positioning
    G1 X0 Y220 F3000             # Present the print
    
    M84                          # Disable steppers
    M117 Print Complete!