[gcode_macro VORON_PURGE]
description: Adaptive Voron Logo Purge near the print footprint
gcode:
    {% set AMB = printer.exclude_object.bounds %}
    {% if AMB %}
        # Establish start positions safely near your sliced print
        {% set x_start = [AMB[0][0] - 15, 10]|max %}
        {% set y_start = [AMB[0][1] - 15, 10]|max %}
        
        G90 ; Absolute positioning
        G1 X{x_start} Y{y_start} Z5 F6000 ; Move to safe starting point
        G1 Z0.3 F3000 ; Drop to initial layer height
        
        # --- EXECUTE THE LOGO PURGE CYCLE ---
        G91 ; Relative positioning
        G1 E5 F2400 ; Rapid small pre-prime
        G1 X5 Y5 E2 F1200 ; Begin first logo polygon edge
        G1 X10 Y0 E3 F1200
        G1 X5 Y-5 E2 F1200
        G1 X-5 Y-5 E2 F1200
        G1 X-10 Y0 E3 F1200
        G1 X-5 Y5 E2 F1200 ; Hexagon shell complete
        
        # Internal cross-fill to trap ooze bubbles
        G1 X4 Y2 E1.5 F1500 
        G1 X12 Y0 E3 F1500
        G1 X-4 Y-4 E1.5 F1500
        
        # Retract and sharp break-away wipe
        G1 X-2 Y5 E-0.5 F3000 ; Quick flick away with minor retraction
        G90 ; Back to absolute coordinates
        G92 E0 ; Zero out extruder
    {% else %}
        # Fallback normal line if no object metadata is provided
        G90
        G1 X10 Y10 Z0.3 F6000
        G91
        G1 X40 E12 F1200
        G90
        G92 E0
    {% endif %}